{{> head }}



{{> header }}
<div class="row">
    <div class="col-md-8">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus nulla est autem vero perferendis neque nihil accusamus iure, soluta suscipit voluptatem doloremque dolor assumenda fugit ipsam molestias voluptas, earum modi.</p>
        </div>
     <div class="col-md-4"><img src="assets/img/img-4.jpg" class="img-thumbnail"></div>
</div>

  
{{> footer }}
    
    